/*fallback font*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700');
/*custom fonts*/

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/bitter-regular-webfont.ttf');
  src: url('../fonts/bitter-regular-webfont.woff'), ('../fonts/bitter-regular-webfont.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/varelaround-regular-webfont.ttf');
  src: url('../fonts/varelaround-regular-webfont.woff'), ('../fonts/varelaround-regular-webfont.woff2');
  font-weight: 700;
}

body {
  font-family: 'Varela Round', 'Roboto', sans-serif;
  background-color: #eee;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Bitter', 'Roboto Slab', serif !important;
  margin: 0;
}

/*-- top nav --*/

.top-nav {
  width: 100%;
  padding: 0;
  background-color: #252525;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img-parent {
  background-color: #3c3c3c;
  padding: 15px 25px;
}

.logo-img {
  width: auto;
  height: 25px;
}

.logo-title {
  color: white;
  font-size: 24px;
  margin: 0 0 0 15px;
}

.logo-link:hover {
  text-decoration: none;
  color: white;
}

.top-nav-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-top-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-top-nav {
  margin: 0;
  padding: 0;
}

#menu-top-nav>li {
  display: inline;
  padding: 0 10px;
}

#menu-top-nav>li>a {
  color: white;
  font-size: 14px;
}

#menu-top-nav>li>a {
  color: white;
  text-decoration: none;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.screen-reader-text {
  display: none;
}

#searchform {
  background-color: #252525;
  padding: 10px;
  position: absolute;
  top: 55px;
  right: 0;
  display: none;
  z-index: 999;
}

.search-top-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  background-color: #3c3c3c;
  margin-left: 15px;
}

/*-- cat nav --*/

.cat-nav {
  background-color: #4b4181;
}

#menu-main-nav {
  padding: 0;
  margin: 0;
}

#menu-main-nav>li {
  display: inline-block;
}

#menu-main-nav>li>a {
  padding: 15px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  border-bottom: 0px solid red;
  box-sizing: border-box;
}

#menu-main-nav>li>a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

#menu-main-nav>li>a:hover {
  text-decoration: none;
}

#menu-main-nav>li:nth-child(1)>a:after,
#menu-main-nav>li:nth-child(1)>a:hover,
#menu-main-nav>li:nth-child(1).current-menu-item {
  background-color: #359bc0;
}

#menu-main-nav>li:nth-child(2)>a:after,
#menu-main-nav>li:nth-child(2)>a:hover,
#menu-main-nav>li:nth-child(2).current-menu-item {
  background-color: #d58176;
}

#menu-main-nav>li:nth-child(3)>a:after,
#menu-main-nav>li:nth-child(3)>a:hover,
#menu-main-nav>li:nth-child(3).current-menu-item {
  background-color: #9dbd83;
}

#menu-main-nav>li:nth-child(4)>a:after,
#menu-main-nav>li:nth-child(4)>a:hover,
#menu-main-nav>li:nth-child(4).current-menu-item {
  background-color: #97bedb;
}

#menu-main-nav>li:nth-child(5)>a:after,
#menu-main-nav>li:nth-child(5)>a:hover,
#menu-main-nav>li:nth-child(5).current-menu-item {
  background-color: #d9baa8;
}

#menu-main-nav>li:nth-child(6)>a:after,
#menu-main-nav>li:nth-child(6)>a:hover,
#menu-main-nav>li:nth-child(6).current-menu-item {
  background-color: #b4a493;
}

/*-- index.php --*/

.banner1 {
  margin: 25px auto;
  width: 100%;
  height: 120px;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner1>p {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/*-- header carousel --*/

.header-carousel {
  overflow: hidden !important;
  position: relative;
}

.header-carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  position: relative;
}

.header-carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.header-carousel-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 50px);
  z-index: 9999;
  left: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-carousel-controls>img {
  cursor: pointer;
}

.header-carousel-controls>img:hover,
.header-carousel-controls>img:focus {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.header-carousel-data {
  bottom: 50px;
  left: 50px;
  position: absolute;
  color: white;
  width: 100%;
}

.header-carousel-date,
.header-carousel-comments {
  display: inline-block;
  font-size: 14px;
}

.header-carousel-comments {
  margin-left: 30px;
}

.header-carousel-title {
  font-weight: 700;
  font-size: 34px;
  max-width: 50%;
  padding-bottom: 25px;
}

.header-carousel-link {
  color: white;
  margin-top: 10px;
  padding: 10px 25px;
  border: 2px solid white;
}

.header-carousel-link:hover,
.header-carousel-link:focus {
  color: #4b4b4b;
  background-color: white;
  text-decoration: none;
}

/*-- news --*/

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-carousel-header>h1 {
  font-size: 32px;
}

.news-title {
  font-weight: 700;
  padding: 25px 0;
  font-size: 2em;
}

.news {
  border-left: 10px solid #359bc0;
  box-sizing: border-box;
  padding: 25px;
  background-color: white;
}

.news-see-more {
  color: #359bc0;
  text-decoration: underline;
}

.news-see-more:hover,
.news-see-more:focus {
  color: #359bc0;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- sport --*/

.sport {
  margin-top: 25px;
  border-left: 10px solid #9dbd83;
  box-sizing: border-box;
  padding: 25px;
  background-color: white;
}

.sport .post-comment-count {
  display: none;
}

.sport-title {
  font-weight: bold;
  margin: 0;
}

.sport-header {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sport-read-more {
  color: #9dbd83;
  text-decoration: underline;
}

.sport-read-more:hover,
.sport-read-more:focus {
  color: #9dbd83;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- post-single --*/

.post-image {
  width: 100%;
  min-height: 150px;
  height: auto;
  margin-bottom: 25px;
}

.post-link {
  color: #4b4b4b;
}

.post-link:hover,
.post-link:focus {
  color: #4b4b4b;
  text-decoration: none;
}

.post-link:hover .post,
.post-link:focus .post {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.post-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-date,
.post-comment-count {
  font-size: .8em;
  color: #4b4b4b;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.post-link {
  color: #252525;
}

.post-link:hover,
.post-link:focus {
  color: #252525;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

.post-title {
  font-weight: bold;
  font-size: 22px;
  color: #363f48;
}

/*-- banner2 --*/

.banner-medium,
.banner-large {
  width: 100%;
  height: 120px;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px 0;
}

.banner-medium>p,
.banner-large>p {
  color: #4b4b4b;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- business posts --*/

.business {
  margin-top: 25px;
  border-left: 10px solid #d58176;
  box-sizing: border-box;
  padding: 25px;
  background-color: white;
}

.business-post {
  margin: 15px 0;
}

.business-title {
  font-weight: bold;
  margin: 0;
  font-size: 2em;
  padding: 0;
}

.business-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
}

.business-read-more {
  color: #d58176;
  text-decoration: underline;
}

.business-read-more:hover,
.business-read-more:focus {
  color: #d58176;
}

.business-post-link {
  color: black;
}

.business-post-link:hover,
.business-post-link:focus {
  color: black;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

.business-post-link:hover>.business-post,
.business-post-link:focus>.business-post {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.business-post-date {
  color: #4b4b4b;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  font-size: .8em;
}

.business-post-title {
  font-size: 22px;
  color: #363f48;
}

.business-post-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*-- post carousel --*/

.news-carousel {
  background-color: white;
  padding: 25px;
  border-left: 10px solid #fcc44d;
}

.news-carousel-title {
  font-weight: bold;
  font-size: 22px;
}

.news-carousel-date {
  font-size: .8em;
}

.news-carousel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-carousel-next,
.news-carousel-prev {
  cursor: pointer;
  margin: 0 10px;
}

.post-carousel {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  white-space: nowrap;
  display: inline-block;
}

.post-carousel-item {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 20px 20px 0;
}

.post-carousel-item-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-carousel-item-title {
  font-weight: 700;
  font-size: 1.5em;
  display: inline-block;
  white-space: normal !important;
}

.post-carousel-item-date {
  margin-top: 15px;
  color: #4b4b4b;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- news slider --*/

.news-carousel-header {
  margin: 0 0 25px 0;
  font-size: 40px;
  font-size: 2.5rem;
}

.news-carousel-wrapper {
  overflow: hidden;
}

.news-carousel-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 15px 0;
}

.news-carousel-item {
  width: calc(100% - 30px);
  margin: 0 0 0 15px;
  margin-right: 0 !important;
}

.news-carousel-link {
  color: #4b4b4b;
}

.news-carousel-link:hover,
.news-carousel-link:focus {
  color: #4b4b4b;
  text-decoration: none;
}

.news-carousel-link:hover .news-carousel-item,
.news-carousel-link:focus .news-carousel-item {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- editorials slider --*/

.editorials-carousel-prev,
.editorials-carousel-next {
  margin: 0 10px;
  cursor: pointer;
}

.editorials-slider {
  margin-top: 25px;
  padding: 25px;
  border-left: 10px solid #a99765;
  background-color: white;
}

.editorials-slider-title {
  font-size: 2em;
}

.editorials-slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.editorials-slider-wrapper {
  overflow: hidden;
}

/*-- local news slider --*/

.local-news-slider {
  padding: 25px;
  background-color: white;
  border-left: 10px solid #a99765;
  margin-top: 25px;
}

.local-news-title {
  font-size: 2em;
}

.local-news-slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.local-news-slider-wrapper {
  overflow: hidden;
}

.local-news-carousel-prev,
.local-news-carousel-next {
  margin: 0 10px;
}

/*-- sidebar --*/

.sidebar-header {
  background-color: #453c75;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-header>a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  margin: 0 10px;
}

.sidebar-header>a:hover,
.sidebar-header>a:focus {
  border-bottom: 1px solid white;
}

.sidebar-post-link:hover,
.sidebar-post-link:focus {
  color: white;
  text-decoration: none;
}

.sidebar-post-link:hover .sidebar-post {
  background-color: #453c75;
}

.sidebar-post {
  padding: 25px;
  background-color: #4d4382;
  border-top: 1px solid #453c75;
  border-bottom: 1px solid #453c75;
}

.sidebar-post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-post-date {
  font-size: .8em;
  color: #9fa4b3;
}

.sidebar-post-comments {
  font-size: .8em;
  color: #9fa4b3;
}

.sidebar-post-title {
  color: white;
  font-size: 22px;
  white-space: normal;
}

.sidebar-post-img {
  width: 100%;
  height: 75px;
  position: relative;
  top: 15px;
  box-sizing: border-box;
  border: 2px solid white;
  background-position: center center;
  background-repeat: fixed;
  background-size: cover;
}

/*--- sidebar feed ---*/

#top-rated-feed,
#comments-feed {
  display: none;
}

.sidebar-active {
  border-bottom: 1px solid white !important;
}

/*--- sidebar social media ---*/

.sidebar-social {
  margin-top: 25px;
}

.social-title {
  color: #4b4b4b;
}

.social-media-link:hover,
.social-media-link:focus {
  text-decoration: none;
  color: #4b4b4b;
}

.social-media-link:hover .social-media,
.social-media-link:focus .social-media {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.social-media {
  margin: 15px 0;
}

.social-media-left {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social-media-title {
  margin-left: 10px;
  font-size: 1.2em;
  color: #4b4b4b;
}

.social-media-right {
  width: 100%;
  height: 100%;
  background-color: #453c75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-numbers {
  margin: 0 0 0 10px;
  color: white;
}

/*--- sidebar tv ---*/

.video {
  margin-top: 25px;
  background-color: white;
}

.video-title {
  padding: 25px;
}

.video-date {
  margin: 15px 0 0 25px;
  color: #4b4b4b;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.video-data {
  padding: 25px;
  font-size: 1.1em;
}

/*--- sidebar banners ---*/

.sidebar-banners {
  margin-top: 25px;
  padding: 25px;
  background-color: #ddd;
}

.sidebar-banner {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  width: 100%;
  height: 125px;
}

.sidebar-banner>p {
  text-align: center;
  margin: 0 !important;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-- facebook feed --*/

.cff-wrapper {
  background-color: white;
  margin-top: 25px;
  padding: 10px;
}

.cff-item {
  border-bottom: 1px solid #ddd;
}

.cff-post-text {
  font-size: .9em;
}

/*-- post slider --*/

.post-slider {
  overflow: hidden;
  position: relative;
}

.slider-post {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  cursor: pointer;
}

.gallery-thumbs {
  position: absolute;
  width: 100%;
  bottom: 30px;
}

.swiper-button-disabled {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.post-slider-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  left: 30px;
  z-index: 999;
}

.post-slider-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  z-index: 999;
}

.slider-post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 11;
}

.lightbox-view {
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 10;
}

.slider-post:hover .lightbox-view {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.gallery-thumb {
  height: 125px;
  width: 125px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.black-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

.lightbox {
  width: 50%;
  height: 600px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lightbox-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  position: relative;
}

.lightbox-data {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.lightbox-title {
  margin-bottom: 25px;
}

.lightbox-title,
.lightbox-read-more {
  color: white;
}

.lightbox-read-more {
  padding: 10px 25px;
  border: 1px solid white;
}

.lightbox-read-more:hover,
.lightbox-read-more:focus {
  color: black;
  background-color: white;
  text-decoration: none;
}

/*-- footer --*/

footer {
  background-color: #252525;
  padding: 75px 0 0 0;
  margin-top: 25px;
  border-top: 25px solid #4d4382;
  color: white;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.footer-logo>img {
  height: auto;
  margin-right: 25px;
  width: auto;
}

.footer-logo>h1 {
  color: #45afe3;
}

.footer-desc {
  color: #666666;
  margin-bottom: 25px;
}

.social-media>li:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.newsletter-title {
  color: #ccc;
  margin-bottom: 25px;
}

.newsletter-desc {
  color: #666;
  margin-bottom: 25px;
}

.mailchimp-form input[type=mail] {
  background-color: #333;
  padding: 15px 25px;
  border: none;
  color: white;
}

.mailchimp-form input[type=submit] {
  background-color: #4d4382;
  padding: 15px 25px;
  border: none;
  color: #eee;
  position: relative;
  left: -4px;
}

.tags-cloud-title {
  color: #ccc;
}

.tag-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.tag-cloud-link {
  margin: 5px;
  padding: 2.5px 5px;
  color: #585858;
  background-color: #333;
}

.tag-cloud-link:hover,
.tag-cloud-link:focus {
  color: #ddd;
  background-color: #4d4382;
  text-decoration: none;
}

/*-- content-footer-post --*/

.footer-post {
  padding: 25px 0;
  border-bottom: 1px solid #585858;
}

.footer-featured {
  margin-top: 50px;
}

.footer-featured-title {
  font-size: 32px;
  font-size: 2rem;
  color: #ccc;
}

.footer-featured .footer-post-link:last-child>.footer-post,
.random-posts .footer-post-link:last-child>.footer-post {
  border: none !important;
}

.footer-post-link {
  color: white;
}

.footer-post-link:hover,
.footer-post-link:focus {
  color: white;
  text-decoration: none;
}

.footer-post-link:hover>.footer-post,
.footer-post-link:focus>.footer-post {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.footer-post-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-post-date,
.footer-post-comment-count {
  color: #585858;
  font-size: .9em;
  margin: 0 0 5px 0;
}

.footer-post-title {
  font-size: 1.1em;
  color: #ccc;
}

.footer-post-img {
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  border: 2px solid white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.random-posts {
  margin-top: 50px;
}

.random-posts-title {
  color: #ccc;
}

/*-- twitter feed --*/

.twitter-feed {
  margin-top: 50px;
}

.twitter-feed-title {
  color: #ccc;
}

.fts-twitter-reply-wrap,
.fts-twitter-reply-wrap-left,
#twitter-feed-dfusic>a.fts-powered-by-text,
.time {
  display: none !important;
}

.tweeter-info {
  box-shadow: none !important;
  border: none !important;
}

.fts-twitter-full-name {
  position: relative !important;
  margin-left: 30px;
}

.fts-twitter-full-name:before {
  content: url('../images/twitter-small.png');
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -30px;
}

.fts-twitter-full-name,
.fts-uppercase>a.fts-twitter-at-name {
  color: #666 !important;
}

.fts-twitter-text {
  color: #ccc;
}

/*-- footer bottom --*/

.footer-bottom-parent {
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid #585858;
}

.footer-bottom-text {
  color: #666;
  margin: 0;
}

.menu-footer-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-footer-bottom li {
  display: inline-block;
  margin: 0 2.5px;
}

#menu-footer-bottom li a {
  font-size: .9em;
  color: #6b6b6b;
}

#menu-footer-bottom li a:hover,
#menu-footer-bottom li a:focus {
  color: #6b6b6b;
  text-decoration: none;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.p-l {
  padding-left: 0 !important;
}

.p-r {
  padding-right: 0 !important;
}

/*----- SINGLE.PHP -----*/

.post-header {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.post-header-overlay {
  background: -webkit-linear-gradient(bottom, rgba(238, 238, 238, 0.99) 0%, rgba(238, 238, 238, 0) 100%);
  background: -moz-linear-gradient(bottom, rgba(238, 238, 238, 0.99) 0%, rgba(238, 238, 238, 0) 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.post-header-data {
  position: absolute;
  bottom: 35px;
  left: 35px;
  color: #222;
}

.post-header-date {
  font-size: .9em;
  margin: 0;
  color: #222;
}

.post-header-title {
  font-size: 44px;
}

.single-post-content {
  font-family: 'Bitter', serif !important;
  margin-top: 25px;
  background-color: white;
  padding: 25px;
}

.single-post-content p {
  line-height: 1.8;
}

.single-post-content img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

#single-sidebar>aside {
  margin-top: 25px;
}

.author {
  padding: 25px;
  background-color: white;
}

.author-title {
  margin-bottom: 15px;
}

.author-avatar {
  float: left;
  margin: 10px 10px 10px 0;
}

.author-desc {
  margin-top: 20px;
}

/*-- comments --*/

.comments {
  padding: 25px;
  background-color: white;
  margin-top: 25px;
}

#comment {
  resize: none;
}

.comments-title {
  font-size: 1.8em;
  margin-bottom: 25px;
}

.comment {
  margin: 25px 0;
}

.comment-reply-link {
  color: #4d4382;
}

.comment-reply-link:hover,
.comment-reply:focus {
  color: #4d4382;
  text-decoration: none;
}

.avatar {
  width: 100%;
  height: auto;
}

.comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment-header .comment-author {
  font-size: 1.1em;
  font-family: 'Bitter', sans-serif;
  color: #4d4382;
  margin-right: 10px;
}

.comment-meta a {
  color: #333;
  font-size: .8em;
}

.add-comment {
  margin-top: 50px;
}

.reply {
  margin-left: auto;
}

.banner2 {
  margin-top: 25px;
  width: 100%;
  height: 250px;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner2>p {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/*-- comment form-- */

.comment-form-comment>label {
  display: none !important;
}
.logged-in-as a{
  color: #4d4382;
}
#comment {
  width: 90%;
}

#commentform input,
#comment {
  border: none;
  background-color: #ddd;
  padding: 10px;
}

#reply-title {
  margin-bottom: 25px;
}

#author {
  margin-top: 25px;
}

.submit {
  background-color: #4d4382 !important;
  color: White;
  padding: 15px 30px !important;
}

/*-- category.php --*/

.category-carousel {
  position: relative;
  overflow: hidden;
}

.feed {
  background-color: white;
  padding: 25px;
  margin-top: 25px;
}

.sidebar {
  margin-top: 25px;
}

.feed-article {
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
}

.feed-article-title {
  color: #363f48;
}

.feed-article-more {
  color: white;
  padding: 10px 25px;
  background-color: #4d4382;
  margin: 10px 0;
}

.feed-article-more:hover,
.feed-article-more:focus {
  color: white;
  text-decoration: none;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.feed-article p {
  font-family: 'Bitter', sans-serif !important;
  padding: 0 0 10px 0;
  line-height: 1.8;
}

.feed-article-share {
  margin-top: 15px;
}

.feed>.feed-article:last-child {
  border-bottom: none !important;
}

.feed-title {
  color: #363f48;
  margin-bottom: 25px;
  font-size: 32px;
  font-size: 2rem;
}

.feed-article-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.feed-article-meta>p {
  margin-right: 20px;
  color: #7a7a7a;
}

.next.page-numbers {
  display: none;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.navigation.pagination {
  padding: 25px 0 0 0;
}

.nav-links a:nth-child(1) {
  display: none !important;
}

.page-numbers {
  color: #4d4382;
  padding: 10px 15px;
  background-color: #ddd;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.page-numbers:hover,
.page-numbers:focus {
  color: #ddd;
  background-color: #4d4382;
  text-decoration: none;
}

.page-numbers.current {
  background-color: #4d4382;
  color: #ddd;
}

/*-- media queries --*/

@media screen and (max-width: 1200px){

  .sidebar-header a{
    font-size: .8em;
  }

  .social-media>li{
    margin: 5px;
  }
}

@media screen and (max-width: 992px){

  .post{
    margin: 10px 0;
  }

  .p-l{
    padding-left: 15px !important;
  }

  .p-r{
    padding-right: 15px !important;
  }

  .social-media-right{
    padding: 5px 0;
  }

  .sidebar-banner{
    margin: 15px 0;
  }

  .editorials-slider-title,
  .local-news-title{
    font-size: 1.8em;
  }

  .post-image,
  .post-date,
  .sidebar-post-date{
    margin-bottom: 10px;
  }

  .mailchimp-form input[type=submit]{
    left: 0;
    padding: 5px;
    font-size: 14px;
  }

  .mailchimp-form input[type=mail]{
    padding: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){

  .header-carousel-data{
    left: 75px;
    bottom: 75px;
  }

  .feed-article p{
    padding: 20px 0;
  }

  .tag-cloud{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-featured-title{
    text-align: center;
  }

  .business-post-img{
    height: 200px;
  }

  .business-post-content{
    margin-top: 15px;
  }

  .lightbox{
    width: 80%;
  }

  #menu-main-nav>li>a{
    font-size: 14px;
    margin: 0;
  }

  .top-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .post{
    margin: 15px 0;
  }

  .sidebar{
    margin: 25px 0;
  }

  .sidebar-header a{
    font-size: 1em;
  }

  .sidebar-post-img{
    height: 200px;
  }

  .footer-logo{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-desc{
    text-align: center;
  }

  .social-media{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newsletter-title,
  .newsletter-desc,
  .mailchimp-form,
  .tags-cloud-title{
    text-align: center;
  }

  .mailchimp-form{
    margin: 0 0 15px 0;
  }

  .footer-post-img{
    height: 200px;
    margin: 15px 0;
  }

  .sidebar-social .social-media{
    display: block;
  }

  footer.social-media{
    display: block;
  }

  #author,
  #email,
  #comment{
    width: 100%;
  }
}